engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
prefer-frozen-lockfile=true
link-workspace-packages=deep
prefer-workspace-packages=true
dedupe-peer-dependents=true
registry=https://registry.npmjs.org/
